*{  margin: 0;  padding: 0;  }
ul,li {list-style-type : none}
.clear{  clear:both;  }
body{background:url(bg.png)!important;}
hr{border-color: #ccc!important;}
#main{
    margin: 1px auto;
    padding: 1px 10px;
    width: 100%;
    min-height:800px;
    overflow: hidden;
}

#model-list{
    position: absolute;
    top:0px;
    left:0px;
    width: 240px;
    border: 1px solid #bbc;
    border-radius:5px ;
}

#mobile-wrap{
    margin:0 auto;
    width: 470px;
    overflow-y: auto;
    height: 800px;
}

#show-mobile{
    display: block;
    position:relative;
    /*margin: 0 auto;*/
    width: 400px;
    min-height: 800px;
    overflow: auto;
    border: 12px ridge #ccc;
    border-right: 12px groove #ccc;
    border-bottom: 12px groove #ccc;
    padding: 60px 1px 90px 1px;
    border-radius: 70px;
    background: #f2f2f2;
}
#show-mobile>.iphone-head,#show-mobile>.iphone-foot{
    position: absolute;
    left:0;
    width: 100%;
    line-height:60px;
    text-align: center;
    vertical-align: middle;
    background:#ccc;
}
#show-mobile>.iphone-head{
    top:0;
}
#show-mobile>.iphone-foot{
    bottom:0;
}
#show-mobile>.iphone-head>i{
    display: inline-block;
    width:160px;
    height:5px;
    background:#ddd;
    border-radius: 5px;
}
#show-mobile>.iphone-foot>i{
    display: inline-block;
    width:60px;
    height:60px;
    margin-top: 10px;
    margin-bottom: -15px;
    background:#ddd;
    border-radius: 50%;
}
#model-list li{
    display: block;
    height:62px;
    width:122px;
    margin: 15px auto;
    text-align: center;
}
#model-list .mol-tag{
    margin: 1px auto;
    width:  120px;
    line-height: 50px;
    border-radius:8px ;
    color:white;
    text-shadow:  0 .2px 0 rgba(255,255,255,.3);
    box-shadow:  0px 2px 0px rgba(255,255,255,.5) inset,8px 8px 8px rgba(0,0,0,.2);
    /*-webkit-tap-highlight-color: rgba(225, 225, 225, 0.498039);*/
    background-image: -webkit-linear-gradient(top, rgb(173, 218, 77), rgb(134, 184, 70));
    background-origin: padding-box;
    font-family:微软雅黑;
}
#model-list .mol-tag:hover {
    background-image: -webkit-linear-gradient(top, #9ac244, #78a53e);
    box-shadow:  0px 2px 0px rgba(255,255,255,.5) inset,15px 15px 15px rgba(0,0,0,.2);
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-weight: bold;
    -webkit-font-smoothing:antialiased;
}

#model-list .mol-tag-assertive{
    background-color: #e55345;
    background-image: -webkit-linear-gradient(top,#e96249,#e03c40);
    border: 1px solid #cf2b28;
}
#model-list .mol-tag-assertive:hover{
    background-image: -webkit-linear-gradient(top,#e7563b,#e04735);
}
#model-list .mol-tag-positive{
    background-color: #1575d5;
    background-image: -webkit-linear-gradient(top,#1d7fe2,#0865c2);
    border: 1px solid #0D6EB8;
}
#model-list .mol-tag-positive:hover{
    background-image: -webkit-linear-gradient(top,#1a79d9,#1a70c7);
}

.drag-able,.drag-copy{
    position:absolute;
}
.drag-able{
    z-index: 9;
}
.mol-wrap{
    position: relative;
    width: 373px;
    min-height:160px;
    margin: 1px;
    padding: 1px;
    /*background: pink;*/
    border: 1px solid #aac;
    border-radius:3px ;
    overflow: hidden;
}
.mol-wrap>img{
    max-width:60%;
}
.mol-wrap>.go-up,.mol-wrap>.go-down,.mol-wrap>.go-recycle{
    display: block;
    position: absolute;
    top:2px;
    right:2px;
    line-height: 30px;
    width: 30px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #ccc;
    background: rgba(6,6,6,0.2);
    border-radius:50%;
    color: #333;
}
.mol-wrap>.go-up:hover,.mol-wrap>.go-down:hover,.mol-wrap>.go-recycle:hover{
    background:rgba(0,0,0,0.6);
    color:#fff;
}
.mol-wrap>.go-up{
    right:36px;
}
.mol-wrap>.go-down{
    right:72px;
}
.blue-top{
    border-top:2px solid blue;
}
.mol-wrap img{
    max-width:100%;
}
.mol-wrap>div{
    float:left;
    width: 50%;
}
[molid=double-good]>img{
    display:inline-block;
    width:45%;
}
[molid=single-pic]>p{
    position: absolute;
    width:100%;
    bottom: 0;
    padding: 5px;
    background: rgba(0,0,0,0.6);
    color: #fff;
}
[molid=word-pic]>img,[molid=word-pic]>p{
    display:inline-block;
    width:49%;
}
#model-list,#ctrl-area{
    min-height:770px;
    background: #888;
    border: 0px solid silver;
    border-radius:15px ;
    box-shadow: 0 2px 0 0px #aaa inset,10px 12px 10px #999;
}
#ctrl-area{
    position: absolute;
    top:0px;
    right:5px;
    width:460px;
}
#ctrl-area h2{
    color:white;
}
#ctrl-area>.submit-reset-wrap{
    position: absolute;
    top: 520px;
    right:40px;
}
#ctrl-area>.submit-reset-wrap>input{
    float: left;
    height: 36px;
    width: 80px;
    margin:5px 20px 5px 5px;
    border-radius:5px ;
}
#ctrl-area label{
    color:white;
}
.mol-ctrl-wrap{
    position: relative;
    padding: 5px 20px;
}

.mol-ctrl-wrap>input[type=text],.mol-ctrl-wrap>input[type=number],.mol-ctrl-wrap>input[type=file]{
    display: inline-block;
    height:32px;
    width:296px;
    padding: 2px 5px;
    margin: 5px;
    border-radius:3px;
}
a.mol-wrap{
    display:block;
}
a.double-good-wrap-one{
    float: left;
    width: 49%;
}
.double-good-wrap-one p{
    font-size: 12px;
}
.double-good-wrap-one u{
    display: inline-block;
    width:120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}
[molid=single-good] u{
    display: inline-block;
    width:260px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}
.assertive{
    border: 2px solid #f21;
}
[molid="double-good-list"]>div{
    width:100%;
}
.single-good-wrap-one>img{
    /*max-height: 60px;*/
}
#store-head{
    position: relative;
    height:125px;
    overflow: hidden;
    vertical-align: top;
    color: gray;
    background: #fff;
    background-image: url("store-head.png");
    background-size: cover;
}
#store-head>img,#store-head>div,#store-head li{
    display: inline-block;
    margin-left: 5px;
}
#store-head>img{
    height: 50px;
}
#store-head h3{
    padding: 5px 0;
}
#store-head>ul{
    margin-top: 7px;
}
#store-head li{
    width:20%;
    border-left: 1px solid gray;
    text-align: center;
}
#store-head li:first-child{
    border-left:none
}
#goodlist-forcheck{
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -340px;
    margin-left: -480px;
    width: 960px;
    height: 680px;
    background: #fff;
    border: 1px solid gray;
    border-radius: 3px;
}
#goods-modal>.modal-dialog{
    width:960px;
}
#goodlist-forcheck2 .toolbar>input{
    margin: 5px 10px;
    height: 30px;
    width:240px;
    border-radius: 3px;
}
.good-list{
    height:360px;
}
.good-list>.good-cell{
    position: relative;
    display: inline-block;
    margin: 10px;
    height:62px;
    width: 162px;
    overflow: hidden;
    clear: both;
}
.good-list>.good-cell>img{
   width:60px;
   border-radius: 5px;
}
.good-list>.good-cell>p.good-name{
    position: absolute;
    top:0;
    right: 0;
    width:90px;
    height:40px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.good-list>.good-cell>p.good-price{
    position: absolute;
    bottom: -12px;
    right: 0;
    width:90px;
    line-height: 20px;
    background: #fff;
    border-radius: 5px;
    color:maroon;
}
.good-tag{
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    width:60px;
    height: 60px;
    border: 1px solid silver;
    border-radius: 5px;
}
.good-tag>img{
    width: 100%;
}
.good-tag>i{
    position: absolute;
    top:-10px;
    right: -10px;
    display: block;
    width: 25px;
    line-height: 20px;
    background: #fff;
    border: 2px solid gray;
    border-radius:50% ;
    text-align: center;
    cursor: pointer;
}

.good-list-pager{
    height:24px;
    margin: 5px 5px 25px 5px;
    overflow: hidden;
}
.good-list-pager>a{
    display: inline-block;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
}
.good-list-pager>input{
    width: 60px;
    height: 20px!important;
}
.single-good-wrap-one{
    display: block;
    height:105px;
    margin: 5px 0;
    border-bottom: 1px dotted #888;
    overflow: hidden;
}
.single-good-wrap-one>img {
    float: left;
    width:100px;
}
.single-good-wrap-one>p {
    float: right;
    width: 260px;
    padding:0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.single-good-wrap-one>p>u{
    width: 240px!important;
}
.mol-wrap[molid="tel-only"],.mol-wrap[molid="title-only"]{
    min-height: 36px;
}
.mol-wrap[molid="tel-only"]>img{
    width: 20px;
    margin: 0 20px;
}
.mol-wrap[molid="tel-only"]>b{
    line-height: 36px;
    font-size: 20px;
}
.mol-wrap[molid="word-only"]{
    min-height: 90px;
}
.alert-assertive{
    position: fixed;
    top:0;
    display: none;
    width: 100%;
    background: #fcc;
    text-align: center;
}
.rows{
    position: relative;
    height: 100%;
}
.mol-tip{
    display: none;
    position: absolute;
    top: 200px;
    left: 300px;
    width: 200px;
    height: 300px;
    padding: 15px;
    background:#ccc;
    border: 0px solid silver;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #aaa;
    z-index: 9;
}
.arrow{
    position: absolute;
    top: 60px;
    left: -40px;
    width: 0;
    border-style:solid;
    border-width:20px 25px  20px 15px ;
    border-color:transparent #ccc transparent transparent;
    z-index: 10;
}