*{  margin: 0;  padding: 0;  }
ul,li {list-style-type : none}
.clear{  clear:both;  }
body{background:url(img/decorate/bg.png)!important;}
hr{border-color: #ccc!important;}
.clearfix:after{
    display: table;
    overflow: hidden;
    clear: both;
    zoom: 1;
}
.decorate-navbar{
    background-color: #fff!important;
    border-color: #fafafa!important;
    border-bottom:5px solid #eee!important;
}
.decorate-navbar a{
    color:#333!important;
    font-size: 14px!important;
    -webkit-user-select: none;
}
.decorate-navbar a:hover{
    color:#333!important;
    border-bottom: 3px solid #397EEA;
    background-color: #eee!important;
}
.decorate-navbar a:focus{
    outline: none;
}
.decorate-navbar a.navbar-brand:first-child,.decorate-navbar a.navbar-brand:first-child:hover,
.decorate-navbar a.btn-save,.decorate-navbar a.btn-save:hover
{
    color:#fff!important;
    background-color: #EF3F3F!important;
    border-bottom: none!important;
    min-width: 5em;
    text-align: center;
    border-right: none!important;
}
.decorate-navbar a.disabled,.decorate-navbar a.disabled:hover{
    width:160px;
    text-align: center;
    color:#333;
    cursor: none;
    border-bottom: none;
    background-color:transparent!important;
}
#main{
    margin: 0 auto;
    padding: 0 10px;
    width:100%;
    min-width: 1280px;
    min-height:800px;
    overflow: scroll;
}

#model-list{
    position: absolute;
    top:0px;
    left:10px;
    width: 240px;
    border: 1px solid #bbc;
    border-radius:5px ;
}

#mobile-wrap{
    margin:0 auto;
    width: 560px;
    overflow-y: auto;
    height: 800px;
}

#show-mobile{
    display: block;
    position:relative;
    /*margin: 0 auto;*/
    margin-top:12px;
    width: 400px;
    min-height: 770px;
    overflow: auto;
    border: 10px ridge #d9d9d9;
    border-right: 10px groove #d9d9d9;
    border-bottom: 10px groove #d9d9d9;
    padding: 60px 1px 90px 1px;
    border-radius: 70px;
    background: #f2f2f2;
}
#show-mobile>.iphone-head,#show-mobile>.iphone-foot{
    position: absolute;
    left:0;
    width: 100%;
    line-height:60px;
    text-align: center;
    vertical-align: middle;
    background:#dfdfdf;
}
#show-mobile>.iphone-head{
    top:0;
    border-radius: 62px 62px 0 0;
}
#show-mobile>.iphone-foot{
    bottom:0;
    border-radius:0 0 62px 62px;
}
#show-mobile>.iphone-head>i{
    display: inline-block;
    width:160px;
    height:5px;
    background:#f1f1f1;
    border-radius: 5px;
}
#show-mobile>.iphone-foot>i{
    display: inline-block;
    width:60px;
    height:60px;
    margin-top: 10px;
    margin-bottom: -15px;
    background:#f1f1f1;
    border-radius: 50%;
}
#model-list li{
    display: block;
    height:30px;
    width:122px;
    margin: 15px auto;
    text-align: center;
}
#model-list .mol-tag{
    margin: 0 auto;
    width:  120px;
    line-height: 36px;
    border-radius:8px ;
    color:white;
    text-shadow:  0 .2px 0 rgba(255,255,255,.3);
    box-shadow:  0px 2px 0px rgba(255,255,255,.5) inset,7px 6px 5px rgba(0,0,0,.2);
    /*-webkit-tap-highlight-color: rgba(225, 225, 225, 0.498039);*/
    background-image: -webkit-linear-gradient(top,#1d7fe2,#0865c2);
    background-origin: padding-box;
    white-space:nowrap;
}
#model-list .mol-tag:hover {
    background-image: -webkit-linear-gradient(top,#1a79d9,#1a70c7);
    box-shadow:  0px 2px 0px rgba(255,255,255,.5) inset,15px 15px 15px rgba(0,0,0,.2);
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-weight: bold;
    -webkit-font-smoothing:antialiased;
}
.drag-able,.drag-copy{
    position:absolute;
}
.drag-able{
    z-index: 9;
}
.mol-wrap a:hover, .mol-wrap a:focus {
    text-decoration: none;
}
.mol-wrap{
    position: relative;
    width: 373px;
    min-height:80px;
    margin: 5px 1px;
    padding: 1px;
    background: #fff;
    border: 1px dotted #aac;
    border-radius:3px ;
    overflow: hidden;
}
.mol-wrap>img{
    max-width:60%;
}
.mol-wrap>.go-up,.mol-wrap>.go-down,.mol-wrap>.go-recycle{
    display: block;
    position: absolute;
    top:2px;
    right:2px;
    line-height: 30px;
    width: 30px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #ccc;
    background: rgba(6,6,6,0.2);
    border-radius:50%;
    color: #333;
}
.mol-wrap>.go-up:hover,.mol-wrap>.go-down:hover,.mol-wrap>.go-recycle:hover{
    background:rgba(0,0,0,0.6);
    color:#fff;
}
.mol-wrap>.go-up{
    right:36px;
}
.mol-wrap>.go-down{
    right:72px;
}
.blue-top{
    border-top:2px solid blue;
}
.mol-wrap img{
    max-width:100%;
}
.mol-wrap>div{
    float:left;
    width: 50%;
}
[molid=doubleGood]>img{
    display:inline-block;
    width:45%;
}
[molid=singlePic]>p{
    position: absolute;
    width:100%;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    color: #fff;
    line-height: 32px;
    margin: 0 0 0 0;
    padding-left: 10px;
    font-family: microsoft yahei;
}
[molid=wordPic]>img{
    width:100%;
}
[molid=wordPic]>p{
    position: absolute;
    left: 10px;
    top:15%;
    /*max-height:80px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    color:#928187;
 }
#model-list,#ctrl-area{
    min-height:780px;
    background: #e1e1e1;
    border: 0px solid silver;
    border-radius:0 0 3px 5px ;
    /*box-shadow: 0 2px 0 0px #aaa inset,10px 12px 10px #999;*/
}
#ctrl-area{
    position: absolute;
    top:0px;
    right:10px;
    width:460px;
    background: #dfdfdf;
}
#ctrl-area .img-up-form>p{
    margin: 5px 5px 10px 80px;
    font-size: 14px;
    color: orangered;
}
#ctrl-area [type="file"]{
    display: inline-block;
    width: 224px;
}
#ctrl-area h2{
    color:#333;
}
#ctrl-area>.submit-reset-wrap{
    margin-left: 262px;
    margin-top: 30px;
    display: none;
}
#ctrl-area>.submit-reset-wrap>input{
    float: left;
    height: 36px;
    width: 80px;
    margin-left: 10px;
    border-radius:5px ;
}
#ctrl-area label{
    color:#666;
}
.mol-ctrl-wrap{
    position: relative;
    padding: 5px 15px 5px 10px;
}

.mol-ctrl-wrap>input[type=text],.mol-ctrl-wrap>input[type=number],.mol-ctrl-wrap>input[type=file]{
    display: inline-block;
    height:32px;
    width:275px;
    padding: 2px 5px;
    margin:5px;
    border-radius:3px;
}
a.mol-wrap{
    display:block;
}
a.doubleGood-wrap-one{
    float: left;
    width: 49%;
    background-color: #fff;
    margin: 1px;
    padding: 5px;
}
.doubleGood-wrap-one>img{
    display: block;
    width:75%;
    margin:5px auto;
    border-radius: 5px;
}
.doubleGood-wrap-one p{
    margin: 0 0 0 5px;
    font-size: 12px;
    margin: 0;
}
.doubleGood-wrap-one p{
    /*display: inline-block;*/
    width:150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}
.doubleGood-wrap-one i{
    color: #ed3577;
}
[molid=doubleGoodList] i{
    font-size: 14px;
    color:#ed3577;
}
[molid=singleGood]{
    margin-top: 5px;
    padding:0 3px;
}
[molid=singleGood] p{
    margin-top:10px;
    padding:0 12px 0 8px;
}
[molid=singleGood] u{
    display: inline-block;
    width:260px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}
[molid=singleGood] i{
    color: #ed3577;
    float: right;
}
.assertive{
    border: 2px solid #f21;
}
.wordOnly{
    margin: 6px 3px 6px 3px;
    padding: 15px;
    font-size: 16px;
    text-overflow: ellipsis;
    background: #3A6165;
    box-shadow: 1px 1px 3px #aaa inset,3px 6px 5px #aaa;
    border-radius: 4px;
    font-family: microsoft yahei;
    color: #fff;
    border: 10px ridge pink;
    min-height: 120px;
}
[molid="wordOnly"]{
    text-decoration: none;
    font-family: microsoft yahei;
    font-size: 14px;
}
[molid="doubleGoodList"]>div{
    width:100%;
}
.singleGood-wrap-one>img{
    /*max-height: 60px;*/
}
#store-head{
    position: relative;
    height:125px;
    overflow: hidden;
    vertical-align: top;
    color: gray;
    background: #fff;
    background-image: url("img/decorate/store-head.png");
    background-size: cover;
}
#store-head>img,#store-head>div,#store-head li{
    display: inline-block;
    margin-left: 5px;
}
#store-head>img{
    height: 50px;
}
#store-head h3{
    padding: 5px 0;
}
#store-head>ul{
    margin-top: 7px;
}
#store-head li{
    width:20%;
    border-left: 1px solid gray;
    text-align: center;
}
#store-head li:first-child{
    border-left:none
}
#goodslist-forcheck{
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -340px;
    margin-left: -480px;
    width: 960px;
    height: 680px;
    background: #fff;
    border: 1px solid gray;
    border-radius: 3px;
}
#goods-modal>.modal-dialog{
    width:960px;
}
#goodslist-forcheck2 .toolbar>input{
    margin: 5px 10px;
    height: 30px;
    width:240px;
    border-radius: 3px;
}
#goods-list{
    height:360px;
}
.good-cell{
    position: relative;
    display: inline-block;
    margin: 10px;
    height:62px;
    width: 162px;
    overflow: hidden;
    clear: both;
    background: #fff;
}
.good-cell>img{
   width:60px;
   border-radius: 5px;
}
.good-cell>p.good-name{
    position: absolute;
    top:0;
    right: 0;
    width:90px;
    height:40px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.good-cell>p.good-price{
    position: absolute;
    bottom: -12px;
    right: 0;
    width:90px;
    line-height: 20px;
    background: #fff;
    border-radius: 5px;
    color:maroon;
}
.good-cell .soldoff{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    color:#fff;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    display: none;
}
.good-cell.disabled .soldoff{
    display: block;
}
.good-tag{
    position: relative;
    display: inline-block;
    margin: 0px 15px 15px 15px;
    width:60px;
    height: 60px;
    border: 1px solid silver;
    border-radius: 5px;
}
.good-tag>img{
    width: 100%;
}
.good-tag>i,.good-cell>i{
    position: absolute;
    top:-10px;
    right: -10px;
    display: block;
    width: 25px;
    line-height: 20px;
    background: #fff;
    border: 2px solid gray;
    border-radius:50% ;
    text-align: center;
    cursor: pointer;
}
.good-tag.disabled{
    -webkit-filter: grayscale(1);
}
.goods-list-pager,.links-list-pager{
    height:30px;
    margin: 5px 5px 25px 5px;
    overflow: hidden;
}
.links-list-pager{
    margin-bottom: 5px;
}
.goods-list-pager>a,.links-list-pager>a{
    display: inline-block;
    border: 1px solid gray;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 3px;
    font-size: 18px;
    font-family:-webkit-pictograph;
}
.goods-list-pager>input,.links-list-pager>input{
    width: 60px;
    height: 20px!important;
}
.singleGood-wrap-one{
    display: block;
    height:105px;
    margin: 5px 0;
    border-bottom: 1px dotted #888;
    overflow: hidden;
    background-color: #fff;
}
.singleGood-wrap-one>img {
    float: left;
    margin-left: 10px;
    width: 90px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #eee;
}
.singleGood-wrap-one>p {
    /*float: right;*/
    /*width: 260px;*/
    padding: 20px 15px 0px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.singleGood-wrap-one>i{
    padding:0 15px;
    color: #ed3577;
}
.singleGood-wrap-one>p>u{
    width: 240px!important;
}
.mol-wrap[molid="contract"],.mol-wrap[molid="titleOnly"]{
    min-height: 36px;
}
.mol-wrap[molid="titleOnly"]>h3{
    margin:5px 0;
    font-family: microsoft yahei;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    color:#204d74;
    font-size: 20px;
}
.mol-wrap[molid="contract"]>img{
    width: 18px;
    margin: 0 10px 0 20px;
    border-radius: 6px;
}
.mol-wrap[molid="contract"]>b{
    line-height: 36px;
    font-size: 14px;
    display: inline-block;
    width:80px;
    text-overflow: ellipsis;
}
.mol-wrap[molid="wordOnly"]{
    min-height: 90px;
}
.alert-assertive{
    position: fixed;
    top:0;
    display: none;
    line-height: 38px;
    word-spacing: 2px;
    color:#444;
    width: 100%;
    background: #fcc;
    text-align: center;
    z-index: 9999;
}
.rows{
    position: relative;
    height: 100%;
}
.mol-tip{
    display: none;
    position: absolute;
    top: 0px;
    left: 280px;
    width: 200px;
    height: 160px;
    padding: 15px;
    background:#ea7575;
    color:#fff;
    border: 0px solid silver;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaa;
    z-index: 9;
}
.arrow{
    position: absolute;
    top: 28px;
    left: -32px;
    width: 0;
    border-style:solid;
    border-width:16px 20px 16px 20px ;
    border-color:transparent #ea7575 transparent transparent;
    z-index: 10;
}
.doublePic-wrap-one,.tb-category-wrap-one{
    position:relative;
}
.doublePic-wrap-one>p,.tb-category-wrap-one>p{
    position: absolute;
    width:240px;
    color: #fff;
    bottom: -5px;
    left: 1px;
    background:rgba(0,0,0,0.5);
}
.tb-category-wrap-one>p{
    background: transparent;
}

.tb-features-wrap{
    text-align: center;
    padding: 5px 0;
    background: #fff;
}
.tb-features-wrap>img{
    display: inline-block;
    width:22%;
    margin: 0 2px;
}
.hd.features-wrap>img{
    width: 17%;
    margin: 5px 12.5px;
}
.feature-text>b{
    font-weight: 400;
    margin: 3px 17px;;
}
.hd-brands>img{
    width: 89px;
    float: left;
    margin: 1px;
}
.hd-category-one{
    background: #fff;
    width:49%!important;
}
.hd-category-one>img{
    float:left;
}
.hd-category-one h3{
    font-size: 16px!important;
    font-weight: bold;
}
.hd-category-one p{
    font-size: 12px!important;
}
#ctrl-wrap textarea{
    display: block;
    margin-left: 75px;
    min-width: 297px;
    min-height: 120px;
    padding: 5px;
    border-radius: 5px;
    border-color: #aaa;
}
.upload-ok-tip{
    color: #f1f1f1;
    font-weight: bold;
}

.brand-title{
    position: relative;
    background: #fff;
    clear:both;
    overflow: hidden;
}
.brand-title>div, .title-wrap>h3{
    display:inline-block;
}
.brand-title>div{
    width:5px;
    height: 36px;
    background:#ff6599;
    margin:0 5px;
}
.brand-title>h3{
    position: relative;
    display: inline-block;
    top: -12px;
    font-size: 20px;
    margin-bottom: 0px;
}
.store-name{
    line-height: 38px;
    padding-left: 10px;
    background: #666;
    color:#fff;
    font-size: 18px;
}
.uploaded-info{
    word-break: break-all;
}

#ctrl-wrap form{
    margin-top: 15px;
}

a.all-goods-href{
    clear: both;
    display: block;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 5px;
    font-size: 13px;
    color: #ff6599;
}
a.all-goods-href:hover{
    cursor: pointer;
    color:maroon;
}
.main-help{
    color: #BA4E4E;
    white-space: pre;
    border-bottom: 1px dashed silver;
    padding: 8px 5px 8px 15px;
    background-color: antiquewhite;
    position: relative;
}
.main-help .close{
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
    font-size: 12px;
    border: 1px solid #441C1C;
    border-radius: 3px;
    padding: 5px 10px;
    color: #000;
    opacity: 0.3;
    margin-right: 5px;
}
.decorate-navbar.navbar{
    margin-bottom: 0px;
}
button.show-goods-list:focus{
    outline: -webkit-focus-ring-color auto 0px;
}
#ctrl-area h2{
    font-size: 18px;
    font-family: microsoft yahei,monospace;
    margin-bottom: 0;
}
#ctrl-area hr{
    margin:10px 0;
}
/*new update*/
div#helps{
    position: relative;
    height:100%;
    width:100%;
    min-height: 0px;
    display: none;
    z-index: 18882;
}
div#helps>p{
    border-radius: 5px;
    height: 118px;
    width:208px;
    /*position: absolute;*/
    /*top:-8px;*/
    position: fixed;
    top:58px;
    z-index: 99;
    background-color:rgba(8,8,8,.95);
    color:#fff;
    padding: 10px;
    white-space: pre;
}
#help-one{
    left: 160px;
}
div#helps>#help-two{
    right:36%;
    /*top:50px;*/
    top:100px;
}
#help-three{
    right:20px;
}
div#helps .arrow{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 12px;
}
#help-one>.arrow{
    top:60px;
    left:-22px;
    border-color:transparent rgba(8,8,8,.95) transparent transparent;
}
#help-two>.arrow{
    top:118px;
    left:118px;
    border-color:rgba(8,8,8,.95) transparent transparent transparent ;
}
#help-three>.arrow{
    top:-22px;
    left:158px;
    border-color:transparent transparent rgba(8,8,8,.95) transparent ;
}
#help-three button{
    line-height:1;
}
div#helps big{
    color:#EF3F3F;
    font-size:24px;
}
.navbar-header{
    width: 100%;
}
.navbar-header a:nth-child(even){
    border-right: 1px dotted #e9e9e9;
}
#btn-help{
    border-left: 1px dotted #e9e9e9;
    border-right: none;
}
a.btn-save{
    margin-right:0px;
}
.fr{
    float:right!important;
}
.navbar-header h2{
    position: absolute;
    width: 28%;
    left: 42%;
    top:-5px;
    font-size: 20px;
}
/*new left mol-list*/
#model-list{
    padding:12px 5px;
}
#model-list .panel{
    margin-bottom: 10px;
}
#model-list .accordion-body{
    padding-left: 15px;
}
#model-list a{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    -webkit-user-select: none;
    text-decoration: none;
}
#model-list dl{
    overflow: hidden;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#model-list dd.mol-tag{
    width: 42%;
    margin-right: 16px;
    margin-bottom: 12px;
    float: left;
    text-align: center;
    background-image:none;/* url(img/decorate/hot-mol.png)*/;
    background-size:90px;
    background-color: #596c7f!important;
    font-size: 13px;
    font-family: "microsoft yahei","Helvetica Neue", Helvetica, Arial, sans-serif;
}
#model-list dd.mol-tag:hover{
    font-size: 15px;
}
div.mask-main{
    position:fixed;
    top:0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(55,55,55,.6);
    z-index: 18881;
    display: none;
}
.blur{
    -webkit-filter: blur(2px)
}
.mol-tip hr{
    margin: 5px auto;
}
#mols-modal>.modal-dialog{
    width: 800px!important;
    height:700px!important;
}
#mols-modal .modal-footer{
    display: none;
}
#molslist-forcheck2{
    height:520px;
    padding-left: 50px;
    padding-top:20px;
    overflow: scroll;
    background: linear-gradient(to bottom right,aliceblue,#ddd);/*linear-gradient(aliceblue,skyblue 70%,deepskyblue);*/
}
#molslist-forcheck2:after{
    display: table;
    overflow: hidden;
    clear: both;
}
.molbox{
    float: left;
    margin: 0 50px 30px 0;
    height: 222px;
    width: 128px;
    background: none;
    background-size: contain;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    border: 0px groove silver;
    /*box-shadow: 5px 5px 3px silver;*/
    /*box-shadow: 0px 2px 0px rgba(255,255,255,.5) inset;*/
    transition: 0.9s 0.2s ease;
}

.molbox:nth-child(1){
    background-image:url(img/decorate/hdstyle-mol.png);
    /*transform: rotate(-32deg) translate(65px,90px);*/
    /*z-index: 1;*/
 }
.molbox:nth-child(2){
    background-image:url(img/decorate/bbstyle-mol.png);
    /*transform: scale(1.2,1.2) rotate(-15deg) translate(30px,35px);*/
    /*z-index: 2;*/
}
.molbox:nth-child(3){
    background-image:url(img/decorate/tbstyle-mol.png);
    /*transform: scale(1.4,1.4) translate(0,30px);*/
    /*z-index: 3;*/
}
.molbox:nth-child(4){
    background-image:url(img/decorate/lmstyle-mol.png);
    /*transform: scale(1.6,1.6) rotate(12deg) translate(-30px,45px);*/
    /*z-index: 4;*/
}
.molbox:nth-child(5){
    background-image:url(img/decorate/qzstyle-mol.png);
    /*transform: scale(1.8,1.8) rotate(30deg) translate(-25px,110px);*/
    /*z-index: 5;*/
}
.molbox:hover{
     cursor: pointer;
     box-shadow:none;
     transform: scale(1.6,1.6) rotate(0deg) translate(0,30px);
     z-index: 999;
 }
/*.molbox:nth-child(3):hover{*/
    /*cursor: pointer;*/
    /*transform: scale(2,2)  translate(-60px,60px);*/
    /*z-index: 999;*/
/*}*/
/*.molbox:nth-child(4):hover{*/
    /*cursor: pointer;*/
    /*transform: scale(2,2)  rotate(-7deg) translate(-100px,60px);*/
    /*z-index: 999;*/
/*}*/
.molbox b {
    display: block;
    /*width: 150%;*/
    /*margin-top: 60px;*/
    /*margin-left: -30px;*/
    margin-top:180px ;
    line-height: 26px;
    background: rgba(0,0,0,0.7);
    /*transform: rotate(30deg);*/
    font-size: 13px;
    color: #ed3577;
    transition: 0.5s 0.2s ease;
}
.molbox:hover b{
    transform:scale(1,0);
    /*margin-top: 20px;*/
    /*margin-left: -10px;*/
    /*line-height: 18px;*/
    /*font-size: 12px;*/
}
@keyframes  comeon{
    from,to{
        transform: none;
    }
    50%{
        transform: scale(1.5,1.5);
    }
}
nav.decorate-navbar>.navbar-header{
    position: fixed;
    z-index: 999;
    background-color: #fff;
    top: -2px;
    border-bottom: 0px solid #EF3F3F!important;
}
[type=color]{
    margin-left: 5px;
}
.tip-kwy{
    font-family: 'Helvetica Neue', Roboto, sans-serif;
}
/*编辑区宝贝列表*/
.ctrlArea-goodsChecked-wrap{
    background: #fff;
}
.ctrlArea-goodsChecked-wrap>a.good-cell{
    overflow: visible;
    margin: 15px 20px;
}
/*confirm 确认框*/
#confirm-main{
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-190px;
    margin-left: -180px;
    padding: 25px;
    background: #FFF;
    width: 360px;
    min-height: 160px;
    border:1px solid silver;
    border-radius: 4px;
    font-family: "microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    word-break: break-all;
    color:#666;
    z-index: 19991;
    display: none;
}
#confirm-ok{
    position: absolute;
    bottom: 4px;
    right: 6px;
}
#confirm-cancel{
    position: absolute;
    bottom: 4px;
    right: 62px;
}
/*二维码*/
#goto-shop{
    position: relative;
}
#goto-shop .imgWrap{
    position: fixed;
    top: 50px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.1);
    display: none;
}
#goto-shop:hover .imgWrap{
    display: block;
}
#goto-shop .imgWrap:hover{
    visibility: hidden;
}
#goto-shop:hover .imgWrap img{
    height: 220px;
    width: 220px;
    margin-left: 150px;
    margin-top: 2px;
    border: 25px solid #fff;
    border-radius: 3px;
    box-shadow: 7px 7px 5px #666;
}
#goto-shop:hover .imgWrap h5{
    color:#EF3F3F;
    margin-left: 180px;
    margin-top: 1em;
}
/*选择链接*/
#links-modal .modal-content , #imgs-modal .modal-content{
    width: 800px;
}
#links-modal .modal-body{

}
#links-body{
    padding-bottom: 5px;
}
#linksTabContent ,#imgsTabContent {
    min-height: 450px;
}
#link-tabs{
    min-height:48px;
}
.link-goods-one{
    display: block;
    text-decoration: none!important;
    margin: 12px 10px;
    padding: 2px;
    height:60px;
    color: #666;
}
.link-goods-one:hover{
    border-radius:5px ;
    box-shadow: 0 0 8px rgba(253,188,33,0.6);
}
#links-goods-list,#links-category{
    height: 380px;
    overflow: hidden;
}
#category1-list,#category2-list{
    height: 345px;
}
.link-goods-one img{
    width: 50px;
    height:50px;
}
.link-goods-one p{
    display: inline-block;
    width: 510px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 48px;
    margin-bottom: 0;
    vertical-align: bottom;
}
.link-goods-one b{
    margin-right: 20px;
    color:#EF3F3F;
}

#links-keyword-for-search{
    display: inline-block;
    margin-top: 12px;
    margin-right: 12px;
    width: 655px;
}
.input-group{
    margin-bottom: 5px;
}
#links-category{

}
#category1,#category2{
    position: absolute;
    top: 60px;
    left: 0;
    padding-left: 20px;
    overflow: hidden;
    width: 100%;
}
#category2{
    display: none;
}
.category-cell{
    float: left;
    margin:15px 2px;
    width:90px;
}
.category-cell img{
    width:95%;
    margin: 0 auto;
    display: block;
}
.category-cell p{
    margin: 10px 0;
    text-align: center;
}
#category1-ctrl-wrap,#category2-ctrl-wrap{
    position: absolute;
    top: 120px;
    left: 235px;
    width: 272px;
    display: none;
    padding: 30px 0;
    text-align: center;
    background: rgba(0,0,0,.7);
}