*{  margin: 0;  padding: 0;  }
ul,li {list-style-type : none}
.clear{  clear:both;  }
body{background:url(img/decorate/bg.png)!important;}
hr{border-color: #ccc!important;}

.decorate-navbar{
    background-color: #fff!important;
    border-color: #fafafa!important;
    border-bottom:5px solid #eee!important
}
.decorate-navbar a{
    color:#333!important;
    font-size: 14px!important;
}
.decorate-navbar a:hover{
    color:#333!important;
    border-bottom: 3px solid #397EEA;
    background-color: #eee!important;
}
.decorate-navbar a:first-child,.decorate-navbar a:first-child:hover{
    color:#fff!important;
    background-color: #EF3F3F!important;
    border-bottom: none!important;
}
.decorate-navbar a.disabled:hover{
    color:#333;
    cursor: none;
    border-bottom: none;
    background-color:transparent!important;
}
#main{
    margin: 1px auto;
    padding: 1px 10px;
    width:100%;
    min-width: 1280px;
    min-height:800px;
    overflow: hidden;
}

#model-list{
    position: absolute;
    top:0px;
    left:10px;
    width: 240px;
    border: 1px solid #bbc;
    border-radius:5px ;
}

#mobile-wrap{
    margin:0 auto;
    width: 560px;
    overflow-y: auto;
    height: 800px;
}

#show-mobile{
    display: block;
    position:relative;
    /*margin: 0 auto;*/
    width: 400px;
    min-height: 800px;
    overflow: auto;
    border: 10px ridge #d9d9d9;
    border-right: 10px groove #d9d9d9;
    border-bottom: 10px groove #d9d9d9;
    padding: 60px 1px 90px 1px;
    border-radius: 70px;
    background: #f2f2f2;
}
#show-mobile>.iphone-head,#show-mobile>.iphone-foot{
    position: absolute;
    left:0;
    width: 100%;
    line-height:60px;
    text-align: center;
    vertical-align: middle;
    background:#dfdfdf;
}
#show-mobile>.iphone-head{
    top:0;
}
#show-mobile>.iphone-foot{
    bottom:0;
}
#show-mobile>.iphone-head>i{
    display: inline-block;
    width:160px;
    height:5px;
    background:#f1f1f1;
    border-radius: 5px;
}
#show-mobile>.iphone-foot>i{
    display: inline-block;
    width:60px;
    height:60px;
    margin-top: 10px;
    margin-bottom: -15px;
    background:#f1f1f1;
    border-radius: 50%;
}
#model-list li{
    display: block;
    height:30px;
    width:122px;
    margin: 15px auto;
    text-align: center;
}
#model-list .mol-tag{
    margin: 0 auto;
    width:  120px;
    line-height: 36px;
    border-radius:8px ;
    color:white;
    text-shadow:  0 .2px 0 rgba(255,255,255,.3);
    box-shadow:  0px 2px 0px rgba(255,255,255,.5) inset,7px 6px 5px rgba(0,0,0,.2);
    /*-webkit-tap-highlight-color: rgba(225, 225, 225, 0.498039);*/
    background-image: -webkit-linear-gradient(top, rgb(173, 218, 77), rgb(134, 184, 70));
    background-origin: padding-box;
    font-family:微软雅黑;
}
#model-list .mol-tag:hover {
    background-image: -webkit-linear-gradient(top, #9ac244, #78a53e);
    box-shadow:  0px 2px 0px rgba(255,255,255,.5) inset,15px 15px 15px rgba(0,0,0,.2);
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-weight: bold;
    -webkit-font-smoothing:antialiased;
}

#model-list .mol-tag-assertive{
    background-color: #e55345;
    background-image: -webkit-linear-gradient(top,#e96249,#e03c40);
    border: 1px solid #cf2b28;
}
#model-list .mol-tag-assertive:hover{
    background-image: -webkit-linear-gradient(top,#e7563b,#e04735);
}
#model-list .mol-tag-positive{
    background-color: #1575d5;
    background-image: -webkit-linear-gradient(top,#1d7fe2,#0865c2);
    border: 1px solid #0D6EB8;
}
#model-list .mol-tag-positive:hover{
    background-image: -webkit-linear-gradient(top,#1a79d9,#1a70c7);
}
#model-list .mol-tag-energized {
    background-color:#A0964C;
    background-image: -webkit-linear-gradient(top,#D1B70D, #9B8513);
    border: 1px solid #9F8C03;
}
#model-list .mol-tag-energized:hover{
    background-image: -webkit-linear-gradient(top,#D8C97C,#D1B70D);
}
#model-list .mol-tag-aqua {
    background: -webkit-linear-gradient(top , #21beaa, #178274);
    border: 1px solid #178274;
}
#model-list .mol-tag-aqua:hover{
    background: -webkit-linear-gradient(top , #30f1d8, #0c5249);
    border: 1px solid #0c5249;
}
#model-list .mol-tag-gold {
    background: linear-gradient(to bottom, #ff9900 0%,#cc6700 100%);
    border: 1px solid #cc6700;
}
#model-list .mol-tag-gold:hover{
    background: linear-gradient(to bottom, #ff7700 0%,#cc6700 100%);
}
.drag-able,.drag-copy{
    position:absolute;
}
.drag-able{
    z-index: 9;
}
.mol-wrap a:hover, .mol-wrap a:focus {
    text-decoration: none;
}
.mol-wrap{
    position: relative;
    width: 373px;
    min-height:80px;
    margin: 5px 1px;
    padding: 1px;
    background: #fff;
    border: 1px dotted #aac;
    border-radius:3px ;
    overflow: hidden;
}
.mol-wrap>img{
    max-width:60%;
}
.mol-wrap>.go-up,.mol-wrap>.go-down,.mol-wrap>.go-recycle{
    display: block;
    position: absolute;
    top:2px;
    right:2px;
    line-height: 30px;
    width: 30px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #ccc;
    background: rgba(6,6,6,0.2);
    border-radius:50%;
    color: #333;
}
.mol-wrap>.go-up:hover,.mol-wrap>.go-down:hover,.mol-wrap>.go-recycle:hover{
    background:rgba(0,0,0,0.6);
    color:#fff;
}
.mol-wrap>.go-up{
    right:36px;
}
.mol-wrap>.go-down{
    right:72px;
}
.blue-top{
    border-top:2px solid blue;
}
.mol-wrap img{
    max-width:100%;
}
.mol-wrap>div{
    float:left;
    width: 50%;
}
[molid=doubleGood]>img{
    display:inline-block;
    width:45%;
}
[molid=singlePic]>p{
    position: absolute;
    width:100%;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    color: #fff;
    line-height: 32px;
    margin: 0 0 0 0;
    padding-left: 10px;
    font-family: microsoft yahei;
}
[molid=wordPic]>img{
    width:100%;
}
[molid=wordPic]>p{
    position: absolute;
    left: 10px;
    top:5px;
    /*max-height:80px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    color:#ed3577;
 }
#model-list,#ctrl-area{
    min-height:780px;
    background: #e1e1e1;
    border: 0px solid silver;
    border-radius:5px ;
    /*box-shadow: 0 2px 0 0px #aaa inset,10px 12px 10px #999;*/
}
#ctrl-area{
    position: absolute;
    top:0px;
    right:10px;
    width:460px;
    background: #dfdfdf;
}
#ctrl-area .img-up-form>p{
    margin: 5px 5px 10px 80px;
    font-size: 14px;
    color: orangered;
}
#ctrl-area [type="file"]{
    display: inline-block;
    width: 224px;
}
#ctrl-area h2{
    color:#333;
}
#ctrl-area>.submit-reset-wrap{
    position: absolute;
    top: 728px;
    right:40px;
}
#ctrl-area>.submit-reset-wrap>input{
    float: left;
    height: 36px;
    width: 80px;
    margin:5px 20px 5px 5px;
    border-radius:5px ;
}
#ctrl-area label{
    color:#333;
}
.mol-ctrl-wrap{
    position: relative;
    padding: 5px 20px;
}

.mol-ctrl-wrap>input[type=text],.mol-ctrl-wrap>input[type=number],.mol-ctrl-wrap>input[type=file]{
    display: inline-block;
    height:32px;
    width:296px;
    padding: 2px 5px;
    margin: 5px;
    border-radius:3px;
}
a.mol-wrap{
    display:block;
}
a.doubleGood-wrap-one{
    float: left;
    width: 49%;
    background-color: #fff;
    margin: 1px;
    padding: 5px;
}
.doubleGood-wrap-one>img{
    display: block;
    width:75%;
    margin:5px auto;
    border-radius: 5px;
}
.doubleGood-wrap-one p{
    margin: 0 0 0 5px;
    font-size: 12px;
    margin: 0;
}
.doubleGood-wrap-one p{
    /*display: inline-block;*/
    width:150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}
.doubleGood-wrap-one i{
    color: #ed3577;
}
[molid=doubleGoodList] i{
    font-size: 14px;
    color:#ed3577;
}
[molid=singleGood]{
    margin-top: 5px;
    padding:0 3px;
}
[molid=singleGood] u{
    display: inline-block;
    width:260px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}
[molid=singleGood] I{
    color: #ed3577;
}
.assertive{
    border: 2px solid #f21;
}
.wordOnly{
    margin: 6px 3px 6px 3px;
    padding: 15px;
    font-size: 16px;
    text-overflow: ellipsis;
    background: #3A6165;
    box-shadow: 1px 1px 3px #aaa inset,3px 6px 5px #aaa;
    border-radius: 15px;
    font-family: microsoft yahei;
    color: #fff;
    border: 12px ridge pink;
    min-height: 120px;
}
[molid="wordOnly"]{
    text-decoration: none;
    font-family: microsoft yahei;
    font-size: 14px;
}
[molid="doubleGoodList"]>div{
    width:100%;
}
.singleGood-wrap-one>img{
    /*max-height: 60px;*/
}
#store-head{
    position: relative;
    height:125px;
    overflow: hidden;
    vertical-align: top;
    color: gray;
    background: #fff;
    background-image: url("img/decorate/store-head.png");
    background-size: cover;
}
#store-head>img,#store-head>div,#store-head li{
    display: inline-block;
    margin-left: 5px;
}
#store-head>img{
    height: 50px;
}
#store-head h3{
    padding: 5px 0;
}
#store-head>ul{
    margin-top: 7px;
}
#store-head li{
    width:20%;
    border-left: 1px solid gray;
    text-align: center;
}
#store-head li:first-child{
    border-left:none
}
#goodlist-forcheck{
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -340px;
    margin-left: -480px;
    width: 960px;
    height: 680px;
    background: #fff;
    border: 1px solid gray;
    border-radius: 3px;
}
#goods-modal>.modal-dialog{
    width:960px;
}
#goodlist-forcheck2 .toolbar>input{
    margin: 5px 10px;
    height: 30px;
    width:240px;
    border-radius: 3px;
}
.good-list{
    height:360px;
}
.good-list>.good-cell{
    position: relative;
    display: inline-block;
    margin: 10px;
    height:62px;
    width: 162px;
    overflow: hidden;
    clear: both;
}
.good-list>.good-cell>img{
   width:60px;
   border-radius: 5px;
}
.good-list>.good-cell>p.good-name{
    position: absolute;
    top:0;
    right: 0;
    width:90px;
    height:40px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.good-list>.good-cell>p.good-price{
    position: absolute;
    bottom: -12px;
    right: 0;
    width:90px;
    line-height: 20px;
    background: #fff;
    border-radius: 5px;
    color:maroon;
}
.good-tag{
    position: relative;
    display: inline-block;
    margin: 0px 15px 15px 15px;
    width:60px;
    height: 60px;
    border: 1px solid silver;
    border-radius: 5px;
}
.good-tag>img{
    width: 100%;
}
.good-tag>i{
    position: absolute;
    top:-10px;
    right: -10px;
    display: block;
    width: 25px;
    line-height: 20px;
    background: #fff;
    border: 2px solid gray;
    border-radius:50% ;
    text-align: center;
    cursor: pointer;
}

.good-list-pager{
    height:24px;
    margin: 5px 5px 25px 5px;
    overflow: hidden;
}
.good-list-pager>a{
    display: inline-block;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
}
.good-list-pager>input{
    width: 60px;
    height: 20px!important;
}
.singleGood-wrap-one{
    display: block;
    height:105px;
    margin: 5px 0;
    border-bottom: 1px dotted #888;
    overflow: hidden;
    background-color: #fff;
}
.singleGood-wrap-one>img {
    float: left;
    margin-left: 10px;
    width: 90px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #eee;
}
.singleGood-wrap-one>p {
    /*float: right;*/
    /*width: 260px;*/
    padding: 20px 15px 0px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.singleGood-wrap-one>i{
    padding:0 15px;
    color: #ed3577;
}
.singleGood-wrap-one>p>u{
    width: 240px!important;
}
.mol-wrap[molid="contract"],.mol-wrap[molid="titleOnly"]{
    min-height: 36px;
}
.mol-wrap[molid="titleOnly"]>h3{
    margin:5px 0;
    font-family: 微软雅黑;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    color:#204d74;
    font-size: 20px;
}
.mol-wrap[molid="contract"]>img{
    width: 18px;
    margin: 0 10px 0 20px;
    border-radius: 6px;
}
.mol-wrap[molid="contract"]>b{
    line-height: 36px;
    font-size: 14px;
    display: inline-block;
    width:80px;
    text-overflow: ellipsis;
}
.mol-wrap[molid="wordOnly"]{
    min-height: 90px;
}
.alert-assertive{
    position: fixed;
    top:0;
    display: none;
    width: 100%;
    background: #fcc;
    text-align: center;
    z-index: 9999;
}
.rows{
    position: relative;
    height: 100%;
}
.mol-tip{
    display: none;
    position: absolute;
    top: 0px;
    left: 300px;
    width: 200px;
    height: 160px;
    padding: 15px;
    background:#ccc;
    border: 0px solid silver;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaa;
    z-index: 9;
}
.arrow{
    position: absolute;
    top: 20px;
    left: -40px;
    width: 0;
    border-style:solid;
    border-width:20px 25px  20px 15px ;
    border-color:transparent #ccc transparent transparent;
    z-index: 10;
}
.doublePic-wrap-one,.tb-category-wrap-one{
    position:relative;
}
.doublePic-wrap-one>p,.tb-category-wrap-one>p{
    position: absolute;
    width:240px;
    color: #fff;
    bottom: -5px;
    left: 1px;
    background:rgba(0,0,0,0.5);
}
.tb-category-wrap-one>p{
    background: transparent;
}

.tb-features-wrap{
    text-align: center;
    padding: 5px 0;
    background: #fff;
}
.tb-features-wrap>img{
    display: inline-block;
    width:22%;
    margin: 0 2px;
}
.hd.features-wrap>img{
    width: 17%;
    margin: 5px 12.5px;
}
.feature-text>b{
    font-weight: 400;
    margin: 3px 17px;;
}
.hd-brands>img{
    width: 89px;
    float: left;
    margin: 1px;
}
.hd-category-one{
    background: #fff;
    width:49%!important;
}
.hd-category-one>img{
    float:left;
}
.hd-category-one h3{
    font-size: 16px!important;
    font-weight: bold;
}
.hd-category-one p{
    font-size: 12px!important;
}
textarea{
    display: block;
    min-width: 360px;
    min-height: 160px;
}
.upload-ok-tip{
    color: #f1f1f1;
    font-weight: bold;
}

.brand-title{
    position: relative;
    background: #fff;
    clear:both;
    overflow: hidden;
}
.brand-title>div, .title-wrap>h3{
    display:inline-block;
}
.brand-title>div{
    width:5px;
    height: 36px;
    background:#ff6599;
    margin:0 5px;
}
.brand-title>h3{
    position: relative;
    display: inline-block;
    top: -12px;
    font-size: 20px;
    margin-bottom: 0px;
}
.store-name{
    line-height: 38px;
    padding-left: 10px;
    background: #666;
    color:#fff;
    font-size: 18px;
}
.uploaded-info{
    word-break: break-all;
}

#ctrl-wrap form{
    margin-top: 15px;
}

a.all-goods-href{
    clear: both;
    display: block;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 5px;
    font-size: 13px;
}
a.all-goods-href:hover{
    cursor: pointer;
    color:maroon;
}
.main-help{
    color: #BA4E4E;
    white-space: pre;
    border-bottom: 1px dashed silver;
    padding: 8px 5px 8px 15px;
    background-color: antiquewhite;
    position: relative;
}
.main-help .close{
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
    font-size: 12px;
    border: 1px solid #441C1C;
    border-radius: 3px;
    padding: 5px 10px;
    color: #000;
    opacity: 0.3;
    margin-right: 5px;
}
.decorate-navbar.navbar{
    margin-bottom: 2px;
}
button.show-good-list:focus{
    outline: -webkit-focus-ring-color auto 0px;
}